%h1 Editing book
%nav
  .nav-wrapper.white
    %a.brand-logo{:href => "#"} Logo
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => books_path} Buy/Borrow
      %li
        %a{:href => new_book_path} Sell/Lend
	  
= render 'form'

= link_to 'Show', @book
\|
= link_to 'Back', books_path
