@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i');
html, body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-color: #4a148c;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	color: #EEEEEE;
	font-weight: 700;
}
.input-field{
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	color: #000;
	padding-left: 20%;
	font-weight: 700;
}
.remember{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #EEEEEE;

}